<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="page-container">
  <div class="content-wrap">

    <div class="container">
      <div class="row">
        <div id="about-info">
          <h1>Hi, I'm Saddique. </h1>
          <h1>An aspiring software engineer.</h1>
        </div>
      </div>
    </div>
    
  </div>

<% include ./partials/footer %>
