<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="page-container">
  <div class="content-wrap">

    <div class="container">
      <div class="row">

        <h1 id="name">Saddique Shafi</h1>
        <div id="social-icons">
          <a href="https://www.linkedin.com/in/saddique-shafi-673642157/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/Siddi-Q" target="_blank"><i class="fab fa-github-square"></i></a>
        </div>

        <div class="resume-section" id="education">
          <h2 class="resume-header"> <a href="#education">EDUCATION <i class="fas fa-university"></i></a></h2>
          <hr class="resume-divider">
          <p><strong>City College of New York, Grove School of Engineering,</strong> NY, NY - Expected May 2020</p>
          <p><em>Candidate for B.S. in Computer Science</em></p>
          <p><strong>GPA:</strong> 3.73</p>

          <p><strong>Relevant Courses:</strong></p>
              <div class="row">
                <div class="col-lg-4 col-sm-6 relevant-courses-container">
                  <p><strong>Computer Science</strong></p>
                  <ul>
                    <li>Algorithms</li>
                    <li>Data Structures</li>
                    <li>Database Systems</li>
                    <li>Operating Systems</li>
                    <li>Artificial Intelligence</li>
                    <li>Software Engineering</li>
                    <li>Software Design Laboratory</li>
                    <li>Functional Programming</li>
                    <li>Discrete Math Structures</li>
                    <li>Fundamentals of Computer Systems</li>
                  </ul>
                </div>
                <div class="col-sm-3 relevant-courses-container">
                  <p><strong>Mathematics</strong></p>
                  <ul>
                    <li>Linear Algebra</li>
                    <li>Probability and Statistics</li>
                  </ul>
                </div>
                <div class="col-sm-3 relevant-courses-container">
                  <p><strong>Other</strong></p>
                  <ul>
                    <li>Speech</li>
                    <li>Writing for Engineering</li>
                  </ul>
                </div>
              </div>
        </div>

        <!-- -->

        <div class="resume-section" id="skills">
          <h2 class="resume-header"> <a href="#skills">SKILLS <i class="fas fa-cog"></i></a></h2>
          <hr class="resume-divider">
          <div class="row">
            <div class="col-sm-5 skill-container">
              <p><strong>Programming Languages</strong></p>
              <ul id="list-of-skills">
                <li>Python</li>
                <li>C#</li>
                <li>Java</li>
                <li>C++</li>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>MySQL</li>
              </ul>

              <ul class="stars">
                <li>
                  <% for(var i = 0; i < 4; i++){ %>
                    <i class="fas fa-star"></i>
                  <% } %>
                  <i class="fas fa-star-half-alt"></i>
                </li>

                <li>
                  <% for(var i = 0; i < 3; i++){ %>
                    <i class="fas fa-star"></i>
                  <% } %>
                  <i class="fas fa-star-half-alt"></i>
                  <i class="far fa-star"></i>
                </li>

                <li>
                  <% for(var i = 0; i < 3; i++){ %>
                    <i class="fas fa-star"></i>
                  <% } %>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </li>

                <li>
                  <% for(var i = 0; i < 3; i++){ %>
                    <i class="fas fa-star"></i>
                  <% } %>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </li>

                <li>
                  <% for(var i = 0; i < 3; i++){ %>
                    <i class="fas fa-star"></i>
                  <% } %>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </li>

                <li>
                  <% for(var i = 0; i < 3; i++){ %>
                    <i class="fas fa-star"></i>
                  <% } %>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </li>

                <li>
                  <% for(var i = 0; i < 3; i++){ %>
                    <i class="fas fa-star"></i>
                  <% } %>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </li>

                <li>
                  <% for(var i = 0; i < 2; i++){ %>
                    <i class="fas fa-star"></i>
                  <% } %>
                  <i class="fas fa-star-half-alt"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </li>
              </div>
          </ul>

            <div class="col-sm-5 skill-container">
              <p><strong>Technologies</strong></p>
              <ul>
                <li>Git</li>
                <li>GitHub</li>
                <li>Windows</li>
                <li>Atom</li>
                <li>Microsoft Visual Studio</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- -->

        <div class="resume-section" id="projects">
          <h2 class="resume-header"> <a href="#projects">PROJECTS <i class="fas fa-code"></i></a></h2>
          <hr class="resume-divider">
          <div class="row">
            <div class="col-sm-5 projects-container">
              <p><strong>Web Chat Application - July 2018</strong></p>
              <ul>
                <li>
                  Developed a chat app in JavaScript using Node.js,
                  jQuery, Express, and Socket.io to allow users to communicate with one another across the internet.
                </li>
              </ul>
            </div>
            <div class="col-sm-5 projects-container">
              <p><strong>Patient Management System - October 2018</strong></p>
              <ul>
                <li>
                  Developed a desktop application in Python using the tkinter module
                  to allow patients to electronically sign in to a hospital and to allow a hospital’s personnel to view,
                  insert and update a patient’s information from a MySQL database.
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- -->

        <div class="resume-section" id="experience">
          <h2 class="resume-header"> <a href="#experience">EXPERIENCE <i class="fas fa-briefcase"></i></a></h2>
          <hr class="resume-divider">
          <div class="row">

            <div class="col-lg-8 experience-container">
              <p><strong>New York City Housing Development Corporation -	New York, NY</strong></p>
              <p><em>Intern</em> February 2019 – August 2019</p>
              <ul>
                <li>
                  Developed a desktop and web application in Python using the tkinter module and Flask framework
                  respectively to help automate the process of turning specific Microsoft Word documents into HTML.
                </li>
                <li>
                  Updated current web applications written in VB.NET in .NET 2.0 to C# in .NET 4.6.
                  Used the Telerik UI for ASP.NET AJAX library to give the user interface a more modern look and feel.
                </li>
              </ul>
            </div>

            <div class="col-lg-8 experience-container">
              <p><strong>City College of New York -	New York, NY</strong></p>
              <p><em>Teacher Assistant for Data Structures Course</em> June 2018 – August 2018</p>
              <ul>
                <li>Tested, debugged, graded and gave feedback on programming assignments submitted by up to 27 students</li>
                <li>Maintained an online database which contained assignment and exam grades of students</li>
                <li>Analyzed students’ exams to find common concept deficiencies</li>
                <li>Served as a communication liaison between the students and professor</li>
              </ul>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>


<% include ./partials/footer %>
