<% include ./partials/header %>
<% include ./partials/navbar %>

  <div class="container">
    <div class="row">

      <h1 id="name">Saddique Shafi</h1>
      <div id="social-icons">
        <a href="https://www.linkedin.com/in/saddique-shafi-673642157/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/Siddi-Q" target="_blank"><i class="fab fa-github-square"></i></a>
      </div>

      <div id="education">
        <h2 class="resume-header">EDUCATION</h2>
        <hr class="resume-divider">
        <p><strong>City College of New York, Grove School of Engineering,</strong> NY, NY - Expected May 2020</p>
        <p><em>Candidate for B.S. in Computer Science</em></p>
        <p><strong>GPA:</strong> 3.75</p>

        <p><strong>Relevant Courses:</strong></p>
        <ul>
          <li>Algorithms</li>
          <li>Data Structures</li>
          <li>Database Systems</li>
          <li>Software Engineering</li>
          <li>Software Design Laboratory</li>
          <li>Discrete Math Structures</li>
          <li>Fundamentals of Computer Systems</li>
          <li>Linear Algebra</li>
          <li>Probability and Statistics</li>
          <li>Speech</li>
          <li>Writing for Engineering</li>
        </ul>
      </div>

      <!-- -->

      <div id="skills">
        <h2 class="resume-header">SKILLS</h2>
        <hr class="resume-divider">
        <p><strong>Programming Languages:</strong></p>
        <ul>
          <li>Python</li>
          <li>Java</li>
          <li>C++</li>
          <li>JavaScript</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>MySQL</li>
        </ul>

        <p><strong>Technologies:</strong></p>
        <ul>
          <li>Git</li>
          <li>GitHub</li>
          <li>Atom</li>
          <li>Windows</li>
          <li>Microsoft Office Suite</li>
        </ul>
      </div>

      <!-- -->

      <div id="projects">
        <h2 class="resume-header">PROJECTS</h2>
        <hr class="resume-divider">
        <p><strong>Web Chat Application - July 2018</strong></p>
        <ul>
          <li>
            Developed a chat app in JavaScript using Node.js,
            jQuery, Express, and Socket.io to allow users to communicate with one another across the internet.
          </li>
        </ul>

        <p><strong>Patient Management System - October 2018</strong></p>
        <ul>
          <li>
            Developed a desktop and web application in Python using the tkinter module
            and Flask framework to allow patients to electronically sign in to a hospital and to allow a hospital’s personnel to view,
            insert and update a patient’s information from a MySQL database.
          </li>
        </ul>
      </div>

      <!-- -->

      <div id="experience">
        <h2 class="resume-header">EXPERIENCE</h2>
        <hr class="resume-divider">
        <p><strong>City College of New York -	New York, NY</strong></p>
        <p><em>Teacher Assistant for Data Structures Course</em> June 2018 – August 2018</p>
        <ul>
          <li>Tested, debugged, graded and gave feedback on programming assignments submitted by up to 27 students</li>
          <li>Maintained an online database which contained assignment and exam grades of students</li>
          <li>Analyzed students’ exams to find common concept deficiencies</li>
          <li>Served as a communication liaison between the students and professor</li>
        </ul>

        <p><strong>Kensington Library	- Brooklyn, NY</strong></p>
        <p><em>Volunteer</em> August 2015 – September 2015</p>
        <ul>
          <li>Assisted in a wide range of childcare needs, such as setting up and breaking down the feeding site</li>
          <li>Distributed lunches to children and kept accurate records of lunches served</li>
          <li>Supervised children and their families during meal time</li>
        </ul>

        <p><strong>ACE Mentor Program	- New York, NY </strong></p>
        <p><em>Mentee</em> September 2013 – May 2014</p>
        <ul>
          <li>Coordinated with other students and mentors to design a school</li>
          <li>Presented our building design to other students and mentors</li>
        </ul>
      </div>
    </div>
  </div>

<% include ./partials/footer %>
