body {
  background-image: linear-gradient(to bottom right, #2cb5e8, #1fc8db);
}

.welcome {
  font-weight: 900;
  font-size: 3.5em;
  color: #ffffff;
  text-align: center;
}

.welcome .letter {
  display: inline-block;
  line-height: 1em;
}

.resume-header {
  margin-bottom: 1px;
}

.resume-header a {
  color: black;
  text-decoration: none;
}

.resume-divider {
  margin-top: 1px;
  margin-bottom: 5px;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 12rem;
}

.footer {
  bottom: 0;
  padding: 20px;
  width: 100%;
  position: absolute;
  background-color: #21405e;
  text-align: center;
  color: #ffffff;
}

.footer span, .footer p span  {
  color: #e65c00;
}

.footer span a {
  color: #ffffff;
}

.fa-star, .fa-star-half-alt {
  color: #ffd700;
}

.selected {
  background: #8eb3d7;
}

.resume-section {
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(1,0,0,0.3);
}

.stars {
  list-style-type: none;
  margin-left: 100px;
}

.relevant-courses-container, .skill-container, .projects-container, .experience-container {
  border-radius: 8px;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 0 0 5px rgba(1,0,0,0.3);
}

#name, #contact-info, #about-info {
  text-align: center;
}

#social-icons {
  text-align: center;
  font-size: 24px;
}

#nav {
  background-color: transparent;
  border-color: transparent;
}

#education {
  background-color: #33bbff;
}

#skills {
  background-color: #1ab2ff;
}

#list-of-skills {
  float: left;
}

#projects {
  background-color: #00aaff;
}

#experience {
  background-color: #0099e6;
}

#nav a {
  color: #e65c00;
  letter-spacing: 0.25rem;
  font-size: 2rem;
  font-weight: 600;
}

#nav a::after {
  content: '';
  width: 0px;
  height: 0.25rem;
  display: block;
  background: #e65c00;
  transition: 300ms;
}

#nav a:hover::after {
  width: 100%;
}

@media screen and (max-width: 540px) {
  #about-info h1,  #contact-info h1 {
    font-size: 2rem;
  }
}
