body {
  background: rgba(100, 150, 200, 0.5);
}

.resume-header {
  margin-bottom: 1px;
}

.resume-header a {
  color: black;
  text-decoration: none;
}

.resume-divider {
  margin-top: 1px;
  margin-bottom: 5px;
}

.footer {
  padding: 20px;
  text-align: center;
  background-color: #21405e;
  color: #ffffff;
  position: static;
  margin-top: 2em;
}

.fa-star {
  color:green;
  color: #ffd700;
}

.selected {
  background: #8eb3d7;
}

.resume-section {
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 0 10px rgba(1,0,0,0.3);
}

.stars {
  list-style-type: none;
  margin-left: 100px;
}

#name, #contact-info, #about-info {
  text-align: center;
}

#social-icons {
  text-align: center;
  font-size: 20px;
}

#nav {
  background-color: transparent;
  border-color: transparent;
}

#education {
  background-color: #8eb3d7;
}

#skills {
  background-color: #7ba6d1;
}

#list-of-skills {
  float: left;
}

#projects {
  background-color: #6899ca;
}

#experience {
  background-color: #6496c8;
}

#nav a:hover {
  background: #8eb3d7;
  border-radius: 10%;
  transition: all 0.3s;
}

.relevant-courses-container, .skill-container, .projects-container, .experience-container {
  border-radius: 8px;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 0 0 5px rgba(1,0,0,0.3);
}
